.chat-response {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.response-top-bar {
    display: flex;
    align-items: end;
    flex-flow: row wrap;
    height: 10%;
    background-color: darkmagenta;
}
.chat-response-profile {
    width: 50px;
    height: 50px;
    display: flex;
    position: relative;
    left: 10%;
    bottom: 30%;
    overflow: hidden;
    justify-content: center;
    border-radius: 100%;
    background-color: white;
}

#img-property {
    width: 60px;
    height: 60px;
}

.msg-container {
    display: flex;
    height: 90%;
    background-color: lightgreen;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap-reverse;
}

.text-box-container {
    display: flex;
    height: 10%;
    flex-direction: row;
    justify-content: space-between;
    background-color: darkslateblue;
}

#response-text-box {
    position: relative;
    top: 20%;
    left: 10%;
    width: 80%;
    height: 50%;
    resize: none;
}

#img-send-logo {
    position: relative;
    width: 80%;
    left: 100px;
    bottom: 5px;
    height: 50%;
}

/* messages containers */
.my-msg {
    align-self: flex-start;
    padding: 10px;
    display: inline-block;
    border-radius: 5px;
    background-color: red;
}

.not-my-msg {
    align-self: flex-end;
    padding: 10px;
    display: inline-block;
    border-radius: 5px;
    background-color: blue;
}

/* form style in message text box */
.message-box-form {
    width: 100%;
    display: flex;
}