.container-fluid {
    background-color: rgba(255, 255, 255, 0.324);
}

.reg-page {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.3);
}

.reg-form {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 30vw;
    background-color: #ffffff2d;
    border-radius: 2px;
    padding: 20px 20px 20px 20px;
}

.reg-form label {
    display: inline-block;
    width: 100px;
    margin-bottom: 10px;
}

.reg-form input {
    width: calc(100% - 40px);
    height: 5vh;
    margin-bottom: 10px;
    border: none;
    outline: none;
    background-color: rgba(193, 243, 243, 0.422);
    border-radius: 5px;
    padding: 10px 10px 10px 10px;
}

.reg-form button  {
    border: none;
    background-color: #7fffd449;
    border-radius: 5px;
    padding: 10px 10px 10px 10px;
}

.reg-button {
    margin-top: 2vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.reg-login {
    margin-top: 2vh;
}

.reg-link {
    text-decoration: none;
    color: wheat;
}

.error {
    background-color: rgba(225, 98, 98, 0.395);
    padding: 10px;
    color: rgb(230, 207, 207);
}

.load {
    background-color: rgba(255, 255, 207, 0.376);
    padding: 10px;
    color: rgb(63, 58, 5);
}