.info-lt {
    height: 10vh;
    background-color: rgba(124, 165, 192, 0.433);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cont-list {
    list-style: none;
    height: 90vh;
    background-color: rgba(101, 135, 157, 0.241);
}

.s-cont {
    padding-top: 20px;
    border-bottom: 2px solid rgba(196, 207, 213, 0.366);
}

.my-img-div {
    width: 70px;
    height: 70px;
    max-width: 70px;
    max-width: 70px;
    border-radius: 40px;
    background-color: white;
    opacity: 30%;
    margin-left: 10px;
}

.add-button {
    width: 40px;
    height: 40px;
    background-color: rgba(113, 223, 109, 0.323);
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 10px;
}


